/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 580px) {
	.footer .address {
		font-size: 1.7em;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.grey-box .logo {
		display: block;
	}

	.footer .address {
		font-size: 2em;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}